.card {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  position: relative;

  & button {
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    background: transparent;
    color:var(--trash-color);
  }

  & button:hover {
    opacity: 0.8;
  }

  & strong {
    display: block;
    margin-bottom: 16px;
    color: #41414d;
  }

  & p + strong {
    margin-top: 32px;
  }

  & p {
    color: var(--text-color);
  }
}