header {

  display: flex;
  align-items: center;

  & img {
    height: 64px;
  }

  & span {
    font-size: 1.25rem;
    margin-left: 24px;
  }

  & a.button {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
  }

  & button {
    height: 60px;
    width: 60px;
    border-radius: 8px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
  }

  & button:hover{
    border-color: #999;
  }
}