.new-incident-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin:0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  & .content {
    width: 100%;
    padding: 96px;
    background: #F0F0F5;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);

    display: flex;
    align-items: center;
    justify-content: space-between;

    & section {
      width: 100%;
      max-width: 300px;

      & h1 {
        margin: 6px 0 32px;
        font-size: 2rem;
      }

      & p {
        font-size: 1.125rem;
        color: #737380;
        line-height: 32px;
      }
    }

    & form {
      width: 100%;
      max-width: 448px;

      & input, textarea {
        margin-top: 8px;
      }

      & .buttons{
        display: flex;

        & button + button {
          margin-left: 17px;
        }

        & button.cancel {
          width: 168px;
          color: #41414D;
          background-color: transparent;
          border:2.5px solid #DCDCE5;
        }

        & .button {
          width: 263px;
        }
      }
    }

  }


}